[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
discord = "*"
python-dotenv = "*"
tweepy = "*"
selenium = "*"

[requires]
python_version = "3.7"
