[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
python-dotenv = "*"
mongoengine = "*"
pymongo = "*"
dnspython = "*"
pinecone-client = "*"
langchain = "*"
tiktoken = "*"
openai = "*"
tabulate = "*"
pypdf = "*"
playwright = "*"
unstructured = "*"
redis = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
